.container {
  display: flex;
  justify-content: space-around;
}

.btn {
  background: none;
  display: flex;
  border: none;
  align-items: center;
  flex-grow: 1;
}
.btn:hover {
  background: #f1f3f4;
}
.btn > p {
  font-weight: 600;
}

.btn > img {
  margin-right: 30px;
  width: 18px;
  padding: 5px;
}
