.button {
  padding: 5px;
  background: none;
  border: none;
  margin-right: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.button:hover {
  background: #f1f3f4;
}

.button > img {
  width: 20px;
}
