.list:hover {
  box-shadow: 5px 5px 10px 5px rgb(226 232 236 / 50%);
}
.svg {
  width: 1.3em;
  height: 1.3em;
}
.svgStar {
  fill: red;
}
.check {
  display: flex;
  align-items: center;
}
.list {
  display: flex;
  align-items: center;
}
.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.company > h3 {
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 20px;
  flex-grow: 1;
}
.company > h4 {
  flex-grow: 3;
}
.company > p {
  padding-right: 10px;
}
.hideIcons > button {
  /* margin-right: 0px; */
  cursor: pointer;
  background: none;
  border: none;
  width: 30px;
  padding: 0;
}
.button {
  margin-left: 10px;
  background: none;
  border: none;
}
.button:hover {
  background: #f1f3f4;
}
/* .hideIcons {
  background: red;
} */
.hideIcons > button :hover {
  background: #f1f3f4;
}

.middle {
  display: flex;
  justify-content: space-evenly;
}
.middle > h3 {
  margin-left: 40px;
}
.middle > h4 {
  margin-left: 100px;
}
