.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menuBrand {
  display: flex;
  padding: 20px;
  margin-right: 80px;
}

.menuBrand > button {
  padding: 3px;
  background: none;
  border: none;
  cursor: pointer;
}

.menuBrand > button:hover {
  background: rgb(223, 190, 190);
}

.menuBrand > button > img {
  width: 20px;
}

.menuBrand > img {
  width: 120px;
  margin-left: 30px;
}
